<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>title</key>
			<string>Pascal</string>
			<key>badgeNumber</key>
			<integer>3</integer>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>Alphard</string>
					<key>badgeNumber</key>
					<string>0</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Modula-2</string>
					<key>badgeNumber</key>
					<string>2</string>
					<key>children</key>
					<array>
						<dict>
							<key>title</key>
							<string>Oberon</string>
							<key>badgeNumber</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Modula 3</string>
							<key>badgeNumber</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Delphi</string>
					<key>badgeNumber</key>
					<string>1</string>
					<key>children</key>
					<array>
						<dict>
							<key>title</key>
							<string>C#</string>
							<key>badgeNumber</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>C</string>
			<key>badgeNumber</key>
			<integer>4</integer>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>Javascript</string>
					<key>badgeNumber</key>
					<string>0</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Perl</string>
					<key>badgeNumber</key>
					<string>3</string>
					<key>children</key>
					<array>
						<dict>
							<key>title</key>
							<string>PHP</string>
							<key>badgeNumber</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Ruby</string>
							<key>badgeNumber</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Python</string>
							<key>badgeNumber</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Objective-C</string>
					<key>badgeNumber</key>
					<string>0</string>
				</dict>
				<dict>
					<key>title</key>
					<string>C++</string>
					<key>badgeNumber</key>
					<string>1</string>
					<key>children</key>
					<array>
						<dict>
							<key>title</key>
							<string>Java</string>
							<key>badgeNumber</key>
							<string>0</string>
							<key>children</key>
							<array>
								<dict>
									<key>title</key>
									<string>C#</string>
									<key>badgeNumber</key>
									<string>0</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Lisp</string>
			<key>badgeNumber</key>
			<integer>7</integer>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>Emacs Lisp</string>
					<key>badgeNumber</key>
					<string>0</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Logo</string>
					<key>badgeNumber</key>
					<string>0</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Maclisp</string>
					<key>badgeNumber</key>
					<string>0</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Common Lisp</string>
					<key>badgeNumber</key>
					<string>0</string>
					<key>children</key>
					<array>
						<dict>
							<key>title</key>
							<string>Dylan</string>
							<key>badgeNumber</key>
							<string>1</string>
							<key>children</key>
							<array>
								<dict>
									<key>title</key>
									<string>Ruby</string>
									<key>badgeNumber</key>
									<string>0</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>AutoLisp</string>
					<key>badgeNumber</key>
					<string>0</string>
				</dict>
				<dict>
					<key>title</key>
					<string>BBN Lisp</string>
					<key>badgeNumber</key>
					<string>0</string>
				</dict>
				<dict>
					<key>title</key>
					<string>InterLisp</string>
					<key>badgeNumber</key>
					<string>1</string>
					<key>children</key>
					<array>
						<dict>
							<key>title</key>
							<string>QLISP</string>
							<key>badgeNumber</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Fortran</string>
			<key>badgeNumber</key>
			<integer>3</integer>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>Algol</string>
					<key>badgeNumber</key>
					<string>3</string>
					<key>children</key>
					<array>
						<dict>
							<key>title</key>
							<string>Simula</string>
							<key>badgeNumber</key>
							<string>1</string>
							<key>children</key>
							<array>
								<dict>
									<key>title</key>
									<string>Smalltalk</string>
									<key>badgeNumber</key>
									<string>5</string>
									<key>children</key>
									<array>
										<dict>
											<key>title</key>
											<string>Objective-C</string>
											<key>badgeNumber</key>
											<string>0</string>
										</dict>
										<dict>
											<key>title</key>
											<string>Python</string>
											<key>badgeNumber</key>
											<string>0</string>
										</dict>
										<dict>
											<key>title</key>
											<string>Ruby</string>
											<key>badgeNumber</key>
											<string>0</string>
										</dict>
										<dict>
											<key>title</key>
											<string>Scheme</string>
											<key>badgeNumber</key>
											<string>0</string>
										</dict>
										<dict>
											<key>title</key>
											<string>Self</string>
											<key>badgeNumber</key>
											<string>1</string>
											<key>children</key>
											<array>
												<dict>
													<key>title</key>
													<string>Javascript</string>
													<key>badgeNumber</key>
													<string>0</string>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>CLU</string>
							<key>badgeNumber</key>
							<string>1</string>
							<key>children</key>
							<array>
								<dict>
									<key>title</key>
									<string>Ruby</string>
									<key>badgeNumber</key>
									<string>0</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>BASIC</string>
							<key>badgeNumber</key>
							<string>2</string>
							<key>children</key>
							<array>
								<dict>
									<key>title</key>
									<string>Visual Basic</string>
									<key>badgeNumber</key>
									<string>1</string>
									<key>children</key>
									<array>
										<dict>
											<key>title</key>
											<string>C#</string>
											<key>badgeNumber</key>
											<string>0</string>
										</dict>
									</array>
								</dict>
								<dict>
									<key>title</key>
									<string>SuperBasic</string>
									<key>badgeNumber</key>
									<string>0</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>BASIC</string>
					<key>badgeNumber</key>
					<string>2</string>
					<key>children</key>
					<array>
						<dict>
							<key>title</key>
							<string>Visual Basic</string>
							<key>badgeNumber</key>
							<string>1</string>
							<key>children</key>
							<array>
								<dict>
									<key>title</key>
									<string>C#</string>
									<key>badgeNumber</key>
									<string>0</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>title</key>
							<string>SuperBasic</string>
							<key>badgeNumber</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>PL/I</string>
					<key>badgeNumber</key>
					<string>3</string>
					<key>children</key>
					<array>
						<dict>
							<key>title</key>
							<string>PL/S</string>
							<key>badgeNumber</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>CP/M</string>
							<key>badgeNumber</key>
							<string>0</string>
						</dict>
						<dict>
							<key>title</key>
							<string>PL/C</string>
							<key>badgeNumber</key>
							<string>0</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>SQL</string>
			<key>badgeNumber</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
